.bookRestaurant {
    justify-content: center;
    
    &__icon {
        margin-right: 5px;
    }

    &__openBtn {
        background-color: bisque;
        font-size: 20px;
        padding: 13px 20px;
        text-transform: unset;
        margin-top: 30px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        min-width: 300px;

        div > label > span {
            display: none;
        }
    }

    &__label {
        margin: 10px 20px 10px;

        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        }
    }

    &__submitBtn__textBtn {
        color: white;
        margin: 2px 5px 0;
    }

    &__closeBtn{
        position: absolute;
        right: 0;
        width: 27px;
        height: 27px;
        color: lightsalmon;
    }

    &__submitBtn {
        margin-top: 25px;
        color: white;
        padding: 10px 0;
    }

    &__title {
        font-size: 18px;
        padding: 20px 20px 0;
        text-align: center;
        color: grey;
    }

    &__SubmitMsg {
        font-size: 18px;
        padding: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .newRestaurant {

        &__openBtn {
            margin-top: 10px;
        }
    }
}