@import './newRestaurant/index';

.footer{
    background: black;
    padding: 10px;
    color: #fff;

    &__field {
        &:first-child {
            margin-bottom: 10px;
        }
        margin: auto;
    }

    &__textfield {
        color: white;
        margin: auto;
        display: inline;
        font-weight: 500;
    }

    &__icon {
        vertical-align: middle;
        margin-right: 10px;
    }
}

@media screen and (max-width: 620px) and (min-width: 600px) {
    .footer{
        &__icon {
            margin-right: 0px;
        }
    }
}